.icon_button {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid var(--black);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    cursor: pointer;
    transition: all linear 0.3s;
}

.stroke {
    stroke: var(--black);
    transition: all linear 0.3s;
}

.fill {
    fill: var(--black);
    transition: all linear 0.3s;
}

.icon_button:hover {
    background-color: var(--black);
}

.icon_button:hover .stroke {
    stroke: var(--white);
}

.icon_button:hover .fill {
    fill: var(--white);
}
