:root {
    --primary: #066FA5;
    --secondary: #005792;
    --black: #181A19;
    --white: #F4F4F4;
    --green: #11CD86;
    --pink: #F70044;
    --yellow: #F6D600;
    --bg: #f9f8fd;

    --r-block: 9px;
    --r-section: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    color: var(--black);
    font-family: "DM Sans", 'Droid Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: #000;
}

h1 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.container {
    height: calc(100vh - 90px);
    padding: 10px 20px;
    margin: 10px auto;
    overflow: hidden;
    border: 1px solid var(--black);
    border-radius: var(--r-block);
}

@media screen and (min-width: 480px) {
    .container {
        padding: 40px 30px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        padding: 60px 30px;
    }

    h2 {
        font-size: 38px;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: 970px;
    }

    h1 {
        font-size: 24px;
        font-weight: 800;
    }


    h2 {
        font-size: 40px;
        font-weight: 500;
    }
}


@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

    h1 {
        font-size: 32px;
        font-weight: 800;
    }

    h2 {
        font-size: 64px;
        font-weight: 700;
    }
}


@media screen and (min-width: 1367px) {
    .container {
        max-width: 1260px;
    }
}
