.button {
    padding: 6px 24px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid var(--bg);
    color: var(--bg);
    cursor: pointer;
    transition: all linear 0.3s;
    letter-spacing: 0.5px;
}

.primary {
    background-color: var(--primary);
}

.primary:hover {
    background-color: var(--green);
}

.outline {
    border: 1px solid var(--black);
    background-color: transparent;
    color: var(--black);
}

.outline:hover {
    box-shadow: var(--black) 2px 2px;
}

.pink {
    border: 1px solid var(--pink);
    background-color: transparent;
    color: var(--pink);
}

.pink:hover {
    box-shadow: var(--pink) 2px 2px;
}
