.button {
    padding: 6px 24px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    color: var(--black);
    border: 1px solid var(--black);
    cursor: pointer;
    transition: all linear 0.3s;
    letter-spacing: 0.5px;
    background-color: transparent;
}

.outline {
    background-color: var(--white);
}

.outline:hover {
    color: var(--white);
    background-color: var(--black);
}

.pink {
    border: 1px solid var(--pink);
    background-color: var(--white);
    color: var(--pink);
}

.pink:hover {
    color: var(--white);
    background-color: var(--pink);
}
