.radio_input {
    padding: 2px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color: var(--yellow);
    border: 1px solid var(--yellow);
    cursor: pointer;
    transition: all linear 0.3s;
    letter-spacing: 0.5px;
}

.radio_input:hover {
    color: var(--white);
    background-color: var(--yellow);
}

.radio_input_checked {
    color: var(--white);
    background-color: var(--yellow);
}

.radio_input_round {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 600;
    color: var(--black);
    border: 1px solid var(--black);
    cursor: pointer;
    transition: all linear 0.3s;
}

.radio_input_round:hover {
    color: var(--white);
    background-color: var(--black);
}

.radio_input_round_checked {
    color: var(--white);
    background-color: var(--black);
}
